*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;

}
.navbar{
    
    width: 100%;
    padding: 10px;
    background: #040c49;
    display: flex;
    margin: 0px;

    
    
}
.navbar img{
    width:30px;
    height: 30px;
    margin-left: 10px;
    
    
}
.logos{
    margin-left: 20px;
    margin-top: 10px;
}
 .menu span{
    margin-left: 900px;
    color: white;
   font-size: 30px;
}
.navbar1{
  z-index: 2;
}
.navbar1,.max-width{
  
   display: flex;
   align-items: center;
   width: 100% ;
   
   box-shadow: 5px 5px 7px gray;
   /* padding: 30px; */
   height: 110px;

}

.max-width .logo img{
    width: 120px;
    height: 100px;
    /* margin-top: 50px; */
    margin-left: 50px;
    
}
.menu1{
    margin-left: 80px;
  
    display: inline-flex;
    
}
.navbar1 .menu1 li{
 
  list-style-type: none;
  
 
}
.navbar1 .menu1 li a{
    
    margin-left: 30px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    color: #3A3A3A;
}
.dropdown{
    position: relative;
    margin-left: 50px;
    margin-top: 3px;
  display: inline-block;
}
.dropdown-content{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    color: whitesmoke;
}
.dropdown:hover .dropdown-content{
    display: block;
}
 .text2{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    margin-top: 45px;


    text-decoration: none;
}
.dropdown:hover .text2{
    display: block;
    color: whitesmoke;
    
}
.text3{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    margin-top: 90px;
    
    
    text-decoration: none;
}
.dropdown:hover .text3{
    display: block;
    
    
}
.text4{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    margin-top: 135px;
    
    
    text-decoration: none;
}
.dropdown:hover .text4{
    display: block;
    
    
}








.banner{
        background-color: white;
        display: flex;
}
.banner img{
   height: 70%;
   width: 99%;
   padding-top:20px;
   padding-left: 10px;
}
                         /* funtura background colour */
.container{
    background-color: rgb(243, 237, 237);
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline flex;
    padding-bottom: 20px;
}
.img1 img{
    height: 250px;
    width: 450px;
box-shadow: 2px 2px 20px rgb(143, 140, 140) ;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
}
.container .img1 button{
    margin-top: 30px;
    margin-left: 30px;
    width: 440px;
    height: 50px;
    border: 0px;
    border-radius: 60px;
    color: #FFFFFF;
    background-color: #03126A;
    cursor: pointer;
}
.fun h3{
      padding-top: 70px;
      padding-left: 300px; 
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #272c6c;
}
.fun p{
    padding-top: 20px;
    padding-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3A3A3A;
    text-align-last: center;
}
                         /* boxes */
.boxes{
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
}
.box1{
   height: 150px;
   width: 300px;
   background-color:#FFFFFF;
   display: inline-flex;
   margin-left: 130px;
   box-shadow: 3px 3px 10px  rgb(171, 167, 167) ;
}
.box2{
    height: 150px;
   width: 300px;
   background-color:#FFFFFF;
   display: inline-flex;
   margin-left: 40px;
   margin-top: 20px;
   box-shadow: 3px 3px 10px  rgb(171, 167, 167) ;
}
.box3{
    height: 150px;
    width: 300px;
    background-color:#FFFFFF;
    display: inline-flex;
    margin-left: 40px;
    box-shadow: 3px 3px 10px  rgb(171, 167, 167) ;
} 
                  /* box1 icon */
#phone{
     margin-top: 30px;
    margin-left: 130px;
    color: #f2f2f5;
    
    font-size: x-large;
    position: absolute;
    border-radius: 100% ;
    /* background-color: #FFFFFF; */
    background-color: #03126A;
       padding: 10px;
    
}

/* #phone:hover{

    background-color:rgba(36, 35, 35, 0.311);
    
} */


                             /* box2 icon */
#arrow{
    position: absolute;
    margin-top: 25px;
    margin-left: 130px;
    color: #f2f2f5;
    font-size: x-large;
    border-radius: 100% ;
    /* background-color: #FFFFFF; */
    background-color: #03126A;
       padding: 10px;
}
.box2 p{
    height: 200px;
}
                         /* 4 symbol */
.boxes strong{
    position: absolute;
    top: 168px;
    left: 613px;
    color: #272c6c;
}
                /* stopwatch logo */
.boxes img{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 40px;
    margin-left: -180px;
    color: white;
}
                 /* cinepolis div */    
.container3{
    background-color: #E3DDDD;
    padding-top: 15px;
    padding-bottom: 30px;
}
.cinepolis{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: inline flex;
}
.content1{
    padding-bottom: 20px;
}
.content1 img{
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 2px 2px 20px rgb(143, 140, 140) ;
    height: 250px;
    width: 450px;
    display: flex;
    cursor: pointer;
}
  .cinepolis .content1 button{
    margin-top: 30px;
    margin-left: 30px;
    width: 420px;
    height: 50px;
    border: 0px;
    border-radius: 60px;
    color: #FFFFFF;
    background-color: #03126A;
    cursor: pointer;
}
.cinepolisheader h3{
    padding-top: 70px;
      padding-left: 300px; 
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #272c6c;
}
.cinepolisheader p{
    padding-top: 20px;
    padding-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3A3A3A;
}

/* FOOTER */


.footer{
    color: white;
    background-color: #040B44;
    padding-bottom: 30px;
    display: flex;
}
.header1{
    padding-left: 30px;
    padding-top: 30px;
}     
            /* Find us */
.header1 h3{
    color: #F3F3F3;
    padding-bottom: 20px;
}
.header1 p{
    padding-top: 10px;
    color: #FFFFFF;
}
.follow h3{
    padding-left: 30px;
    padding-top: 30px;
    color: #F3F3F3;
}
        /* ICONS */
.icons{
   margin-top: 20px;
}
.icons i{
    padding-left: 200px;
    margin-left: 20px;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}
.row1{
    display: inline;
    padding-left: 30px;
}
                  /* row 2 */
.row2{
    padding-left: 50px;
}
.row2 h3{
    padding-left: 60px;
    margin-top: 30px;
}
.playstore{
    height: 180px;
    width: 150px;
    margin-top: -30px;
    margin-left: 80px;   
}
.appstore{
    height: 150px;
    width: 150px;
   margin-left: 80px;
   margin-top: -100px;
}
#phone2{
    padding-left: 90px;
    padding-top: 20px;
}
.number{
    padding-left: 120px;
    margin-top: -19px;
}
          /* row 3 */
.row3 h3{
    padding-top: 30px;
    padding-left: 40px;
}
.row3 ul li{
    padding-left: 42px;
    padding-top: 15px;
    list-style: none;
}
.row3 ul {
    padding-top: 10px;
    color:whitesmoke;
}
.row3 ul li a{
    color: #f2f2f5;
}


/* final row  4*/
.row4 {
    padding-left: 40px;
}
.row4 h3{
    padding-top: 30px;
    padding-left: 40px;
}
.row4 ul li{
    padding-left: 42px;
    padding-top: 15px;
    list-style: none;
}
.row4 ul {
    padding-top: 10px;
    color:whitesmoke;
}
.row4 ul li a{
    color: #f2f2f5;
}

          /* Final Line */
.copyright {
    display: flex;
    color: #030942;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 40px;
}
.pp{
    padding-top: 5px;
    margin-left: 500px;
    
    color: #0274BE;
}
.tc{
    padding-top: 5px;
    margin-left: 10px;
    color: #0274BE;
}

                                                  
                                                      /* media quaries  MOBILE   S-view */

@media all and (min-width:320px) and (max-width:426px) { 
    .navbar{
        width: 320px;
        height: 30px;
    }
    .logos {
        display: inline-flex;
       
    }
  
    .logos img{
      margin-top: -10px;
       height: 10px;
       width: 10px;
       margin-left: 5px;
    }

    .navbar1{
      margin-top: -30px;
        width: 320px;
  
    }
    .navbar1 .max-width{
  
        display: flex;
        align-items: center;
        
        box-shadow: 5px 5px 7px gray;
        padding: 10px;
        height: 60px;
     
     }
    .max-width .logo img{
        width: 30px;
        height: 30px;
         margin-left: -5px;
        
    }

    .menu1{
        margin-left: -4px;
      
        display: inline-flex;
        
    }
    .navbar1 .menu1 li a{
    
        margin-left: 10px;
        text-decoration: none;
        list-style-type: none;
        font-size: 5px;
        color: #3A3A3A;
    }
    .dropdown {
        position: relative;
        margin-left: 20px;
        /* margin-top: 3px; */
      display: inline-block;
      font-size: 7px;
      margin-top: 8px;
    }
     .dropdown-content{
        position: absolute;
        display: none;
        background-color: #040c49;
        width: 42px;
        padding: 2px 6px;
        color: whitesmoke;
        
    }
    .text2{
        position: absolute;
        display: none;
        background-color: #040c49;
        width: 42px;
        padding: 2px 6px;
        margin-top: 20px;
        text-decoration: none;
    }
    .text3{
        position: absolute;
        display: none;
        background-color: #040c49;
        width: 42px;
        padding: 2px;
        margin-top: 40px;
        
         text-decoration: none;
    }
    .text4{
        position: absolute;
        display: none;
        background-color: #040c49;
        width: 42px;
        padding: 2px 6px;
        margin-top: 60px;
        text-decoration: none;
    }

    .banner img{
     width: 100%;
     height: 150px;
     display: block;
    }
    .container{
        display: block;
        margin-top: 10px;
    }
    .img1{
        padding-top: 1px;
    }
    .img1> img{
        display: block;
        margin-top: 30px;
        height: 150px;
        width: 250px;
    }
    .container .img1 button{
        height: 30px;
        width: 200px;
        margin-left: 60px;
    }
    .fun{
        display: block;
    }
    .fun>h3{
        padding-left: 100px;
        margin-top: -40px;
            }
    .fun>p{
        text-align: center;
        margin-top: -20px;
        margin-left: -30px;
        font-size:small;
        line-height: 30PX;
    }
    .boxes{
        display: block;
    }
    .box1{
        height: 120px;
        width: 250px;
        margin-left: 40px;
    }
    #phone{
        margin-left: 100px;
    }
    .box2{
        height: 120px;
        width: 250px;
        margin-left: 40px;
    }
    #arrow{
        margin-left: 100px;
    }
    .boxes>strong{
        padding-top: 90px;
        margin-left: -470px;
        
    }
    .box3{
        margin-top: 20px;
        height: 120px;
        width: 250px;
        margin-left: 40px;
    }
    .boxes>img{
        width: 100%;
        margin-top: 90px;
        padding-left: 150px;   
    }
    .container3{
        display: block;
        margin-top: -20px;
        width: 100%;
    }
    .cinepolis{
        display: block;
        margin-left:20px;
    }
    .content1>img{
            display: block;
            margin-top: 10px;
            margin-left: 22px;
            height: 150px;
            width: 250px;
        }
    .content1{
            padding-top: 10px;
        }
    .cinepolis .content1 button{
        height: 30px;
        width: 200px;
        margin-left: 50px;
       }
       .cinepolisheader{
        display: block;
       }
       .cinepolisheader>h3{
        padding-left: 80px;
        margin-top: -60px;
       }
       .cinepolisheader>p{
        text-align: center;
        margin-top: 0px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: small;
        line-height: 30PX;
       }
       .boxes>img{
        width: 100%;
        margin-top: 45px;
        margin-left: -360px;
       }

   .footer{
     display: block;
      width: 100%;
      font-size: small;
   }
   .header1>h3{
    font-size: large;
   }
   .follow>h3{
    font-size: large;
   }
   .row2{
     margin-left: -90px;
   }
   .row2>h3{
    font-size: large;
   }
   .contact{
     margin-left: 0px;
     margin-top: -200px;
     font-size: large;
   }
   #phone2{
     margin-left: -20px;
     font-size: large;
   }
   .number{
     margin-left: -10px;

   }
   .row3{
     margin-left: -10px;
   }
   .row3>h3{
     padding-left: 30px;
     font-size: large;
   }
   .row3>ul{
     padding-left: 30px;
   }
   .row4{
     margin-left: -60px;
   }
   .row4>h3{
    font-size: large;
   }
   .row4>ul{
     padding-left: 30px;
   }
   .copyright{
     display: block;
     width: 100%;
   }
   .copyright>b{
     margin-left: -50px;
     font-size: small;
   }
   .pp{
     margin-left: -30px;
     font-size: small;
    line-height: 60px;
     
   }
   .tc{
    font-size: small;
   }
}


                                                  




                           /* LAPTAP VIEW */
@media screen and (min-width:768px) and (max-width:1024px) {

    .navbar{
    
        width: 1170px;
        padding: 10px;
        background: #040c49;
        display: flex;
        height: 65px;
        
    }
    .menu1{
      margin-left: 0px;
  }
    .navbar1 .max-width{
  
        display: flex;
        align-items: center;
        
        box-shadow: 5px 5px 7px gray;
        padding: 30px;
        height: 110px;
     
     }
     .navbar1{
        width: 1170px;
    }

    .container{
        margin-left: 10px;
        margin-top: 50px;
        width: 100%;
    }




    
    .banner img{
      width: 1150px;
    }
    .img1{
        padding-top: 20px;
    }
    .img1>img{
        height: 150px;
        width: 300px;
    }
    .container{
      width: 1155px;
    }
    .container .img1 button{
        height: 40px;
        width: 250px;
        margin-left: 50px;
}
.fun h3 {
    padding-left: 360px;
        /* margin-top: -20px; */
}
.fun> p{
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    /* font-size:small; */
    line-height: 30px;
}
                         /* boxes */

.box1{
  height: 200px;
  width: 350px;
    margin-left: 20px;
}
#phone,#arrow{
  font-size: 30px;
  margin-top: 75px;
  margin-left: 145px;
  
    
}
.box2{
  height: 200px;
  width: 350px;
}
/* #arrow{
  font-size: 30px;
  margin-left: 100px;
  margin-top: 45px;
} */
.box3{
    height: 200px;
    width: 350px;
    margin-left: 800px;
   position: absolute;
   margin-top: 20px;
   margin-left: 30px;
} 
.boxes>img{
    margin-left: 175px;
    margin-top: 95px;
}
.boxes>strong{
    font-size: 20px;
    margin-top:35px;
    margin-left: -45px;
}
                        /* cinepolis */
 .container3{
    width: 1165px;
 }             
 .cinepolis{
    width: 96%;
     margin-left: 15px;
     margin-top: 2px;
}   
.content1>img{
    height: 150px;
    width: 300px;
} 
.cinepolis .content1 button{
      height: 40px;
      width: 250px;
      margin-left: 50px;
}
.cinepolisheader>h3{
    padding-left: 280px;
    margin-top: -40px;
}
.cinepolisheader>p{
    text-align: center;
    margin-top: 10px;
    margin-left: -30px;
    margin-right: 10px;
    /* font-size: small; */
    word-spacing: 5px;
    line-height: 30px;
}

/* .footer{
    width: 100%;
    font-size: small;
}
.row1{
     margin-left: -40px;
}
.header1>h3{
    font-size: large;
}
.follow>h3{
    font-size: large;
}
.icons{
    font-size: large;
}
.row2{
    margin-left: -100px;
}
.row2>h3{
    font-size: large;
}
.contact{
    font-size: large;
}
#phone2{
    margin-left: -20px;
    font-size: large;
}
.number{
     margin-left: -20px;
}
.row3{
    margin-left: -90px;
} 
.row4{
    margin-left: -60px;
}
.copyright>b{
    margin-left: -50px;
    font-size: small;
  }
  .pp{
    margin-left: 160px;
    font-size: small;
    margin-top: -5px;
  }
  .tc{
    font-size: small;
    margin-top: -5px;
  }
} */
                                   /*  MOBILE L 375 */
      

      /* @media screen and (min-width:375px) and (max-width:424px) {
        .banner img{
            width: 100%;
            height: 200px;
            display: block;
           }
           .container{
            display: block;
             width: 350px;
             margin-left: 10px;
        
             margin-top: 40px;
        
             border-radius: 5px;
           }
           .img1{
            padding-top: 1px;
        }
        .img1> img{
            display: block;
            margin-top: 20px;
            margin-left: 25px;
            height: 150px;
            width: 300px;
        }
        .container .img1 button{
            height: 30px;
            width: 220px;
            margin-left: 70px;
        }
        .fun>h3{
            padding-left: 120px;
            padding-top: 30px;
        }
        .fun>p{
            font-size: small;
           line-height: 30px;
           margin-left: 20px;   
          margin-top: -20px;
        }
      .box1{
        height: 120px;
        width: 230px;
        margin-left: 80px;
      } 
      #phone{
        margin-left: 90px;
      }
      .box2{
        height: 120px;
        width: 230px;
        margin-left: 80px;
      }
      #arrow{
        margin-left: 90px;
      }
      .boxes>strong{
        padding-top: 90px;
        margin-left: -435px;
      }
      .box3{
        height: 120px;
        width: 230px;
        margin-left: 80px;
        margin-top: 20px;
      }
      .boxes>img{
        margin-left: -140px;
      }
      .container3{
        display: block;
      }
      .cinepolis{
        display: block;
      }
      .content1{
        padding-top: 5px;
      }
      .content1>img{
        margin-top: 10px;
        margin-left: 20px;
        height: 150px;
        width: 300px;
        display: block;
      }
      .cinepolis .content1 button{
        height: 35px;
            width: 220px;
            margin-left: 60px;
      }
      .cinepolisheader>h3{
        margin-top: -20px;
        padding-left: 100px;
        padding-top: 30px;
      }
      .cinepolisheader>P{
        font-size: small;
        line-height: 30px;
        padding-left: 30px;  
        padding-right: 10PX; 
       margin-top: -10px;
      }



      .footer{
        display: block;
         width: 100%;
         font-size: small;
      }
      .header1{
        padding-left: 60PX;
      }
      .header1>h3{
       font-size: large;
      }
      .follow>h3{
       font-size: large;
       padding-left: 60PX;
      }
      .icons{
        padding-left: 40px;
      }
      .row2{
        margin-left: -60px;
      }
      .row2>h3{
       font-size: large;

      }
      .contact{
        margin-left: 0px;
        margin-top: -200px;
        font-size: large;
      }
      #phone2{
        margin-left: -20px;
        font-size: large;
      }
      .number{
        margin-left: -10px;

      }
      .row3{
        margin-left: 20px;
      }
      .row3>h3{
        padding-left: 30px;
        font-size: large;
      }
      .row3>ul{
        padding-left: 30px;
      }
      .row4{
        margin-left: -20px;
      }
      .row4>h3{
       font-size: large;
      }
      .row4>ul{
        padding-left: 30px;
      }
      .copyright{
        display: block;
        width: 100%;
      }
      .copyright>b{
        margin-left: -20px;
        font-size: small;
      }
      .pp{
        margin-left: -20px;
        font-size: small;
      }
      .tc{
       font-size: small;
      }
   }


    */


    .footer{
      width: 1155px;
  }


.footer{
    color: white;
    background-color: #040B44;
    padding-bottom: 30px;
    display: flex;
    margin-top: 50px;
}
.header1{
    padding-left: 30px;
    padding-top: 30px;
}     
       */     /* Find us */
 .header1 h3{
    color: #F3F3F3;
    padding-bottom: 20px;
}
.header1 p{
    padding-top: 10px;
    color: #FFFFFF;
}
.follow h3{
    padding-left: 30px;
    padding-top: 30px;
    color: #F3F3F3;
} 
        /* ICONS */
 .icons{
   margin-top: 20px;
}
.icons i{
    padding-left: 200px;
    margin-left: 20px;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}
.row1{
    display: inline;
    padding-left: 30px;
} 
                  /* row 2 */
 .row2{
  margin-left: -50px;
}
.row2 h3{
    padding-left: 60px;
    margin-top: 30px;
}
.playstore{
    height: 180px;
    width: 150px;
    margin-top: -30px;
    margin-left: 80px;   
}
.appstore{
    height: 150px;
    width: 150px;
   margin-left: 80px;
   margin-top: -100px;
}
#phone2{
    padding-left: 90px;
    padding-top: 20px;
}
.number{
    padding-left: 120px;
    margin-top: -19px;
} 
          /* row 3 */
          .row3{
            margin-left: -100px;
          }
 .row3 h3{
    padding-top: 30px;
    padding-left: 40px;
}
.row3 ul li{
    padding-left: 42px;
    padding-top: 15px;
    list-style: none;
}
.row3 ul {
    padding-top: 10px;
    color:whitesmoke;
}
.row3 ul li a{
    color: #f2f2f5;
}
 

/* final row  4*/
 .row4 {
    /* margin-left: 30px; */
}
.row4 h3{
    padding-top: 30px;
    padding-left: 40px;
}
.row4 ul li{
    padding-left: 42px;
    padding-top: 15px;
    list-style: none;
}
.row4 ul {
    padding-top: 10px;
    color:whitesmoke;
}
.row4 ul li a{
    color: #f2f2f5;
}
 
          /* Final Line */
 .copyright {
    display: flex;
    color: #030942;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 40px;
    position: relative;
    
}
   

.pp{
  margin-left: 500px;
  /* font-size: small; */
 line-height: 60px;
 position: absolute;
 margin-top: -20px;
  
}
.tc{
  translate: 230px;
 /* font-size: small; */
}
}




    











                        /* tab view */
   @media screen and (min-width:425px) and (max-width:767px) {
    .banner>img{
        width: 100%;
    }
    .container{
        display: block;
        width: 420px;
        margin-left: 5px;
        border-radius: 5px;
        margin-top: 40px;
    }
    .img1{
        padding-top: 1px;
    }
    .img1>img{
        height: 200px;
        width: 370px;
        margin-left: 25px;
    }
    .container .img1 button{
        height: 40px;
        width: 300px;
        margin-left: 65px;
    }
    .fun>h3{
        padding-left: 150px;
        padding-top: 60px;
    }
    .fun>p{
        margin-left: 30px;
        font-size: small;
        line-height: 30px;
        padding-top: 10px;
    }
    .box1{
height: 120px;
width: 230px;
margin-left: 100px;
   }
   #phone{
    margin-left: 90px;
   }
   .box2{
    height: 120px;
    width: 230px;
    margin-left: 100px;
    margin-top: 20px;
   }
   #arrow{
    margin-left: 90px;
   }
   .boxes>strong{
    margin-left: -415px;
    padding-top: 90px;
   }
   .box3{
    height: 120px;
    width: 230px;
    margin-left: 100px;
    margin-top: 20px;
   }
     .boxes>img{
        margin-left: -140px;
        margin-top: 50px;
     }
     .container3{
        display: block;
      }
      .cinepolis{
        display: block;
      }
      .content1{
        padding-top: 5px;
      }
      .content1>img{
        margin-top: 10px;
        margin-left: 20px;
        height: 200px;
        width: 350px;
        display: block;
      }
      .cinepolis .content1 button{
        height: 40px;
            width: 300px;
            margin-left: 40px;
      }
      .cinepolisheader>h3{
        margin-top: -20px;
        padding-left: 120px;
        padding-top: 30px;
      }
      .cinepolisheader>P{
        font-size: small;
        line-height: 30px;
        padding-left: 30px;  
        padding-right: 10PX; 
       margin-top: -10px;
      }
      .cinepolis{
        padding-bottom: 30px;
      }

      .footer{
        display: block;
         width: 100%;
         font-size: small;
      }
      .header1{
        padding-left: 30PX;
      }
      .header1>h3{
       font-size: large;
      }
      .follow>h3{
       font-size: large;
       padding-left: 30PX;
      }
      .icons{
        padding-left: 20px;
      }
      .row2{
        margin-left: -80px;
      }
      .row2>h3{
       font-size: large;

      }
      .contact{
        margin-left: 0px;
        margin-top: -200px;
        font-size: large;
      }
      #phone2{
        margin-left: -20px;
        font-size: large;
      }
      .number{
        margin-left: -10px;

      }
      .row3{
        margin-left: 20px;
      }
      .row3>h3{
        margin-left: -30px;
        font-size: large;
      }
      .row3>ul{
        margin-left: -20px;
      }
      .row4{
        margin-left: -40px;
      }
      .row4>h3{
       font-size: large;
      }
      .row4>ul{
        padding-left: 10px;
      }
      .copyright{
        display: block;
        width: 100%;
      }
      .copyright>b{
        margin-left: -20px;
        font-size: small;
      }
      .pp{
        margin-left: -20px;
        font-size: small;
      }
      .tc{
       font-size: small;
      }
   }
