*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    
    width: 100%;
    padding: 10px;
    background: #040c49;
    display: flex;
    height: 65px;
    
}
.navbar img{
    width:30px;
    height: 30px;
    margin-left: 10px;
    
    
}
.logos{
    margin-left: 8px;
    margin-top: 10px;
}
 .menu span{
    margin-left: 900px;
    color: white;
   font-size: 30px;
}
.navbar1{
  z-index: 2;
}
.navbar1 .max-width{
  
   display: flex;
   align-items: center;
   
   box-shadow: 5px 5px 7px gray;
   padding: 30px;
   height: 110px;

}

.max-width .logo img{
    width: 120px;
    height: 100px;
    /* margin-top: 50px; */
    margin-left: 20px;
    
}
.menu1{
    margin-left: 80px;
  
    display: inline-flex;
    
}
.navbar1 .menu1 li{
 
  list-style-type: none;
  
 
}
.navbar1 .menu1 li a{
    
    margin-left: 30px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    color: #3A3A3A;
}
.dropdown{
    position: relative;
    margin-left: 50px;
    margin-top: 3px;
  display: inline-block;
}
.dropdown-content{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    color: whitesmoke;
}
.dropdown:hover .dropdown-content{
    display: block;
}
 .text2{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    margin-top: 45px;


    text-decoration: none;
}
.dropdown:hover .text2{
    display: block;
    color: whitesmoke;
    
}
.text3{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    margin-top: 90px;
    
    
    text-decoration: none;
}
.dropdown:hover .text3{
    display: block;
    
    
}
.text4{
    position: absolute;
    display: none;
    background-color: #040c49;
    width: 150px;
    padding: 12px 16px;
    margin-top: 135px;
    
    
    text-decoration: none;
}
.dropdown:hover .text4{
    display: block;
    
    
}
.event h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(62, 23, 101);
}
.event .upcoming{
    margin-left: 430px;
    margin-top: 20px;
    background-color:blue;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.event .upcoming a{
    text-decoration: none;
    padding: 20px 15px;
    color: white;
}
.event .expired{
    margin-left: 10px;
    margin-top: 20px;
    background-color: whitesmoke;
    height: 40px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 30px;
    cursor: pointer;
}
.event .expired a{
    text-decoration: none;
    padding: 20px 15px;
    color: blue;
}
.contain h1{
    text-align: center;
    margin-top: 40px;
    color: rgb(62, 23, 101);
}
.container{
    display: flex;

}
.container .card-one{
    border: 1px solid white ;
    display: inline-flex;
    background-color: whitesmoke;
    height: 550px;
     width: 350px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
}
.card-one img{
    width: 300px;
    height: 240px;
    margin-top: 20px; 
    border-radius: 20px;
}
.icon i{
    margin-top: 300px;
    margin-left: -250px;
    font-size: 25px;
    color: palevioletred;
}
.icon p{
   margin-left: -230px;
   margin-top: -20px;
   color: palevioletred;
   font-weight: lighter;
}
.rhythm h4{
    margin-top: 340px;
    margin-left: -250px;
}
.rhythm h4:hover{
    color: blue;
    cursor: pointer;
}
.rhythm p{
    margin-top: 15px;
    margin-left: -250px;
    font-size: 14px;
}
.icons i{
    margin-top: 490px;
    margin-left: -250px;
}
.icons p{
    margin-left: -230px;
    margin-top: -18px;
}
.buttons button{
    margin-top: 485px;
    margin-left: -100px;
    background-color: aliceblue;
    border: 2px solid blue;
    padding: 5px 12px;
    color: blue;
    border-radius: 5px;
}
.container .card-two{
    border: 1px solid white ;
    display: inline-flex;
    background-color: whitesmoke;
    height: 550px;
     width: 400px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 40px;
}
.card-two img{
    height: 250px;
    border-radius: 40px;
    margin-left: -10px;
}
.card-two .icons-one i{
    margin-top: 280px;
    margin-left: -280px;
    font-size: 25px;
    color: palevioletred;
}
.icons-one p{
    margin-left: -260px;
    margin-top: -20px;
    color: palevioletred;
    font-weight: lighter;
}
.card-two .lulu {
    /* margin-top: 290px;
    margin-left: -260px; */
    margin-top: 280px;
    margin-left: -20px;
}
.card-two .lulu h4{
    margin-left: -259px;
    margin-top: 40px;

}

.lulu h4:hover{
    color: blue;
    cursor: pointer;
}
.lulu p{
    margin-top: 15px;
    margin-left: -260px;
    font-size: 14px;
}
.card-two .mall{
    margin-top: 25px;
}
.mall i{
    margin-top: 440px;
    margin-left: -260px;
}
.mall p{
    margin-left: -240px;
    margin-top: -18px;
}
.exp button{
    margin-top: 460px;
    margin-left: -100px;
    background-color: aliceblue;
    border: 2px solid blue;
    padding: 5px 12px;
    color: blue;
    border-radius: 5px;
    
}
.container .card-three{
    border: 1px solid white ;
    display: inline-flex;
    background-color: whitesmoke;
    height: 550px;
     width: 350px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
}
.card-three img{
    height: 243px;
    margin-top: 20px;
    border-radius: 40px;
    width: 300px;
    margin-left: 8px;
}
.icon-one i{
    margin-top: 300px;
    margin-left: -270px;
    font-size: 25px;
    color: palevioletred;
}
.icon-one p{
    margin-left: -250px;
    margin-top: -20px;
    color: palevioletred;
    font-weight: lighter;
}
.fly h4{
    margin-top: 340px;
    margin-left: -270px;
}
.fly h4:hover{
    color: blue;
}
.fly p{
    margin-left: -270px;
    margin-top: 20px;
}
.flys{
    margin-top: 40px;
}
.flys i{
    margin-top: 450px;
    margin-left: -270px;

} 
.flys p{
    margin-left: -250px;
    margin-top: -18px; 
}
.events button{
    margin-top: 480px;
    margin-left: -120px;
    background-color: aliceblue;
    border: 2px solid blue;
    padding: 5px 12px;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
}
.container-one{
    display: flex;
}
.container-one .card-four{
    border: 1px solid white ;
    display: inline-flex;
    background-color: whitesmoke;
    height: 550px;
     width: 350px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
}
.card-four img{
    width: 300px;
    height: 240px;
    margin-top: 20px; 
    border-radius: 20px;
}
.iconic i{
    margin-top: 300px;
    margin-left: -250px;
    font-size: 25px;
    color: palevioletred;
}
.iconic p{
    margin-left: -230px;
   margin-top: -20px;
   color: palevioletred;
   font-weight: lighter;
}
.rhythm-two h4{
   margin-top: 340px;
   margin-left: -250px;
}
.rhythm-two h4:hover{
    color: blue;
    cursor: pointer;
}
.rhythm-two p{
    margin-left: -250px;
    margin-top: 10px;
}
.icons-two i{
    margin-top: 490px;
    margin-left: -250px;
}
.icons-two p{
    margin-left: -230px;
    margin-top: -18px;
}
.container-one .card-five{
    border: 1px solid white ;
    display: inline-flex;
    background-color: whitesmoke;
    height: 550px;
     width: 400px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 40px;
}
.card-five img{
    height: 250px;
    width: 320px;
    border-radius: 40px;
}
.icon-five i{
    margin-top: 280px;
    margin-left: -270px;
    font-size: 25px;
    color: palevioletred;
}
.icon-five p{
    margin-left: -250px;
    margin-top: -20px;
    color: palevioletred;
    font-weight: lighter;
}
.rhythms h4{
    margin-top: 320px;
    margin-left: -270px;
}
.rhythms h4:hover{
    color: blue;
    cursor: pointer;
}
.rhythms p{
    margin-top: 20px;
    margin-left: -270px;
    font-size: 14px;
}
.malls i{
    margin-top: 470px;
    margin-left: -270px;
}
.malls p{
    margin-left: -240px;
    margin-top: -18px;
}
.attend button{
    margin-top: 465px;
    margin-left: -100px;
    background-color: aliceblue;
    border: 2px solid blue;
    padding: 5px 12px;
    color: blue;
    border-radius: 5px; 
}
.container-one .card-six{
    border: 1px solid white ;
    display: inline-flex;
    background-color: whitesmoke;
    height: 550px;
     width: 350px;
    margin-top: 20px;
    margin-left: 48px;
    padding: 20px;
}
.card-six img{
    height: 250px;
    margin-top: 20px;
    border-radius: 40px;
    width: 300px;
    margin-left: 8px;
}
.icon-six i{
    margin-top: 300px;
    margin-left: -270px;
    font-size: 25px;
    color: palevioletred;
}
.icon-six p{
    margin-left: -250px;
    margin-top: -20px;
    color: palevioletred;
    font-weight: lighter;
}
.rhythms-one h4{
    margin-top: 340px;
    margin-left: -260px;
}
.rhythms-one h4:hover{
    color: blue;
    cursor: pointer;
}
.rhythms-one p{
    margin-top: 20px;
    margin-left: -260px;
    font-size: 14px;
}
.malls-one i{
    margin-top: 490px;
    margin-left: -260px;
}
.malls-one p{
    margin-left: -240px;
    margin-top: -18px;
}
.attend-one button{
    margin-top: 485px;
    margin-left: -80px;
    background-color: aliceblue;
    border: 2px solid blue;
    padding: 5px 12px;
    color: blue;
    border-radius: 5px;
}

.footer{
    color: white;
    background-color: #040B44;
    padding-bottom: 30px;
    display: flex;
    margin-top: 50px;
}
.header1{
    padding-left: 30px;
    padding-top: 30px;
}     
            /* Find us */
.header1 h3{
    color: #F3F3F3;
    padding-bottom: 20px;
}
.header1 p{
    padding-top: 10px;
    color: #FFFFFF;
}
.follow h3{
    padding-left: 30px;
    padding-top: 30px;
    color: #F3F3F3;
}
        /* ICONS */
.ico{
   /* margin-top: 20px; */
   margin-top: 10px;
}
.ico i{
    padding-left: 200px;
    margin-left: 20px;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}
.row1{
    display: inline;
    padding-left: 30px;
}
                  /* row 2 */
.row2{
    padding-left: 50px;
}
.row2 h3{
    padding-left: 60px;
    margin-top: 30px;
}
.playstore{
    height: 180px;
    width: 150px;
    margin-top: -30px;
    margin-left: 80px;   
}
.appstore{
    height: 150px;
    width: 150px;
   margin-left: 80px;
   margin-top: -100px;
}
#phone2{
    padding-left: 90px;
    padding-top: 20px;
}
.number{
    padding-left: 120px;
    margin-top: -19px;
}
          /* row 3 */
.row3 h3{
    padding-top: 30px;
    padding-left: 40px;
}
.row3 ul li{
    padding-left: 42px;
    padding-top: 15px;
    list-style: none;
}
.row3 ul {
    padding-top: 10px;
    color:whitesmoke;
}
.row3 ul li a{
    color: #f2f2f5;
}


/* final row  4*/
.row4 {
    padding-left: 40px;
}
.row4 h3{
    padding-top: 30px;
    padding-left: 40px;
}
.row4 ul li{
    padding-left: 42px;
    padding-top: 15px;
    list-style: none;
}
.row4 ul {
    padding-top: 10px;
    color:whitesmoke;
}
.row4 ul li a{
    color: #f2f2f5;
}

          /* Final Line */
.copyright {
    display: flex;
    color: #030942;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 40px;
}
.pp{
    padding-top: 5px;
    margin-left: 500px;
    /* padding-left: 00px; */
    color: #0274BE;
}
.tc{
    padding-top: 5px;
    margin-left: 10px;
    color: #0274BE;
}

@media all and (min-width:427px) and (max-width:769px) {
    

    .navbar{
        width: 1220px;
    }
    .navbar>.logos{
          display: inline-flex;
    }
    .navbar1{
       width: 1220px;
    }
    .menu1{
        margin-left: 0px;
    }
    .event h1{
        margin-left: 400px;
        width: 100%;
    }
    .event .upcoming{
        margin-left: 400px;
    
    }
    .event .expired{
        position: absolute;
        margin-left: 650px;
        margin-top: -30px;
    }
    .contain h1{
        margin-left: 390px;
        width: 100%;
    }
    .footer{
        width: 1220px;
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    .navbar{
        width: 1215px;
    }
    .navbar>.logos{
          display: inline-flex;
    }
    .navbar1{
       width: 1215px;
    }
    .menu1{
        margin-left: 0px;
    }
    .event h1{
        margin-left: 200px;
    }
    .event .upcoming{
        margin-left: 400px;
    
    }
    .event .expired{
        position: absolute;
        margin-left: 30px;
        margin-top: 20px;
    }
    .contain h1{
        margin-left: 200px;
    }
    .footer{
        width: 1215px;
    }
}

@media all and (min-width:340px) and (max-width:426px) {


    .navbar{
        width: 1220px;
    }
    .navbar>.logos{
          display: inline-flex;
    }
    .navbar1{
       width: 1220px;
    }
    .menu1{
        margin-left: 0px;
    }
    .dropdown-content{
        margin-left: -300px;
    }
    .event h1{
        margin-left: 400px;
        width: 100%;
    }
    .event .upcoming{
        margin-left: 350px;
    
    }
    .event .expired{
        position: absolute;
        margin-left: 650px;
        margin-top: -35px;
    }
    .contain h1{
        margin-left: 400px;
        width: 100%;
    }
    .footer{
        width: 1220px;
    }
    
}

    


